Repository wantedly/frolint, pull requests merged in 2021-01, with the labels that each got.

#732 Tweak scaffdog template
  .scaffdog/eslint-plugin-wantedly-rule.md
Labels: documentation, repo

#734 Relax peerDependencies to typescript
  packages/eslint-config-wantedly-typescript/package.json
Labels: eslint-config-wantedly-typescript, repo

#735 Relax peerDependencies to eslint and graphql
  packages/eslint-plugin-wantedly/package.json
Labels: eslint-plugin-wantedly, repo
