Repository wantedly/frolint, pull requests merged in 2021-03, with the labels that each got.

#799 Use typescript 4.2
  package.json
  packages/eslint-config-wantedly-typescript/package.json
  yarn.lock
Labels: eslint-config-wantedly-typescript, repo

#739 Replace no-redeclare with @typescript-eslint/no-redeclare
  packages/eslint-config-wantedly-typescript/__tests__/__snapshots__/index.test.js.snap
  packages/eslint-config-wantedly-typescript/__tests__/__snapshots__/without-react.test.js.snap
  packages/eslint-config-wantedly-typescript/without-react.js
Labels: enhancement, eslint-config-wantedly-typescript, repo

#800 Use pull_request_target for labeler
  .github/workflows/labeler.yml
Labels: repo
