Repository wantedly/frolint, pull requests merged in 2023-11, with the labels that each got.

#1102 Fix(eslint-pluigin-prettier): Remove `eslint-plugin-prettier`
  packages/eslint-config-wantedly-typescript/__tests__/__snapshots__/index.test.js.snap
  packages/eslint-config-wantedly-typescript/__tests__/__snapshots__/without-react.test.js.snap
  packages/eslint-config-wantedly-typescript/package.json
  packages/eslint-config-wantedly-typescript/without-react.js
  packages/eslint-config-wantedly/README.md
  packages/eslint-config-wantedly/__tests__/__snapshots__/index.test.js.snap
  packages/eslint-config-wantedly/__tests__/__snapshots__/without-react.test.js.snap
  packages/eslint-config-wantedly/package.json
  packages/eslint-config-wantedly/without-react.js
  yarn.lock
Labels: repo, eslint-config-wantedly-typescript, eslint-config-wantedly

#1103 `frolint` Version Update `3.0.0` to `3.1.1`
  CHANGELOG.md
  lerna.json
  packages/frolint/package.json
Labels: repo, frolint

#1108 ci(dependabot): Delete reviewers field
  .github/dependabot.yml
Labels: repo

#1112 ci: Update node.js versions
  .github/workflows/nodejs.yml
Labels: repo
